<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Ecomm Store</title>
</head>
<body>
    <!-- sets the main class and then have sub classes within it -->
    <!-- try keeping simple names for the classes -->
    <div class="grid-container">
        <header class="header">
        <div class="brand">
            <button onclick="openMenu()">
                &#9776;
            </button>
            <a href="index.html">Maurya's Store</a>
        </div>
        <div class="header-links">
            <a href="cart.html">Cart</a>
            <a href="login.html">Login</a>
        </div>
        </header>
        <aside class="sidebar">
            <h3>Categories</h3>
            <button class="sidebar-closeButton" onclick="closeMenu()">
                X
            </button>
            <ul>
                <li>
                    <a href="index.html">Laptops</a>
                </li>
                <li>
                    <a href="index.html">Cell Phones</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
            <ul class="products">
                <li class="product">
                    <img class="product-image" src='./images/p1.jpg' alt="product 1 image">
                    <div class="product-name">
                        <a href="product.html">Macbook Pro 2020 Retina Display</a>
                    </div>
                    <div class="product-brand">Apple</div>
                    <div class='product-price'>$999</div>
                    <div class="product-rating">4.75 (10 reviews)</div>

                </li>
                <li class="product">
                    <img class="product-image" src='./images/p1.jpg' alt="product 1 image">
                    <div class="product-name">
                        <a href="product.html">Macbook Pro 2020 Retina Display</a>
                    </div>
                    <div class="product-brand">Apple</div>
                    <div class='product-price'>$999</div>
                    <div class="product-rating">4.75 (10 reviews)</div>

                </li>
                <li class="product">
                    <img class="product-image" src='./images/p1.jpg' alt="product 1 image">
                    <div class="product-name">
                        <a href="product.html">Macbook Pro 2020 Retina Display</a>
                    </div>
                    <div class="product-brand">Apple</div>
                    <div class='product-price'>$999</div>
                    <div class="product-rating">4.75 (10 reviews)</div>

                </li>
                <li class="product">
                    <img class="product-image" src='./images/p1.jpg' alt="product 1 image">
                    <div class="product-name">
                        <a href="product.html">Macbook Pro 2020 Retina Display</a>
                    </div>
                    <div class="product-brand">Apple</div>
                    <div class='product-price'>$999</div>
                    <div class="product-rating">4.75 (10 reviews)</div>

                </li>
                <li class="product">
                    <img class="product-image" src='./images/p1.jpg' alt="product 1 image">
                    <div class="product-name">
                        <a href="product.html">Macbook Pro 2020 Retina Display</a>
                    </div>
                    <div class="product-brand">Apple</div>
                    <div class='product-price'>$999</div>
                    <div class="product-rating">4.75 (10 reviews)</div>

                </li>

            </ul>
        </div>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
    <!-- the function that will be an onclick event for the button -->
    <!-- openMenu to open the sidebar and closeMenu to close the sidebar≠–= -->
    <script>
        function openMenu(){
            document.querySelector('.sidebar').classList.add('open');
        }
        function closeMenu(){
            document.querySelector('.sidebar').classList.remove('open');
        }
    </script>
</body>
</html>