<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Ecomm Store</title>
</head>
<body>
    <!-- sets the main class and then have sub classes within it -->
    <!-- try keeping simple names for the classes -->
    <div class="grid-container">
        <header class="header">
        <div class="brand">
            <a href="index.html">Maurya's Store</a>
        </div>
        <div class="header-links">
            <a href="cart.html">Cart</a>
            <a href="login.html">Login</a>
        </div>
        </header>
        <main class="main">
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
            </ul>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
</body>
</html>