html {
    font-size: 62.5%; 
    /* default size for the browser is 16px * 62.5 = 10px = 1 rem */
    box-sizing: border-box;
    /* helps us organize the content of the html page */
}

body {
    font: 1.6rem Helvetica;
    height: 100vh;
    /* vh is viewport height */
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    /* 5 rem for the header 1 fragment for main and again 5 rem for the footer */
    height: 100%;
}
.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}
.brand :hover{
    color: peru;
}
.header-links a{
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    /* text-decoration none removes an underline from the links */
}
.header-links :hover{
    color: orangered;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}